<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Profile</title>
    <header th:replace="~{partials/head.html :: header}"></header>
</head>
<body>
<div th:unless="${#authorization.expression('isAuthenticated()')}">
    <nav th:insert="~{partials/nav-bar.html :: nav-bar}"></nav>
</div>
<div th:if="${#authorization.expression('isAuthenticated()')}">
    <nav th:insert="~{partials/nav-bar.html :: nav-bar2}"></nav>
</div>
<h1>Edit Profile</h1>
<img id="profilePicture" th:src="${user.getProfilePicURL()}" style="width: 350px; height: 200px;">

<form th:action="@{/profile/edit}" th:object="${user}" th:method="post">
    <button id="profilePicUpload">Upload Profile Picture</button>
    <input id="profilePicURL" type="hidden" th:field="*{profilePicURL}" th:value="${user.getProfilePicURL()}"/>

    <input type="hidden" th:field="*{id}"/>
    <div>
        <label for="username">Username:</label>
        <input type="text" id="username" th:field="*{username}"/>
    </div>
    <div>
        <label for="email">Email:
        <input type="email" id="email" th:field="*{email}"/>
        </label>
    </div>
    <div>
        <label for="password">Password:
        <input type="text" id="password" name="password"/>
        </label>
    </div>
    <button type="submit">Update Profile</button>
</form>
    <form th:action="@{/delete-profile}" method="post">
        <input type="hidden" th:field="*{id}"/>
        <input type="hidden" name="confirmation" value="confirm"/>
        <button type="submit" onclick="return confirm('Are you sure you want to delete your profile?')">Delete Profile
        </button>
    </form>

<script src="//static.filestackapi.com/filestack-js/3.x.x/filestack.min.js"></script>
<script type="module" src="/js/profile.js"></script>
</body>
</html>