<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="">
<header th:replace="partials/head.html :: header"></header>
<body>
    <nav th:insert="partials/nav-bar.html :: nav-bar2"></nav>
    <nav th:insert="partials/nav-bar.html :: nav-bar"></nav>
    <div class="container">
        <div class="profileBox-container">
            <div class="pfp">Profile Picture</div>
                <div class="user=info">
                   <h1><span th:text="${user.username}"></span></h1>
                    <p th:text="${user.email}"></p>
                    <p th:text="${user.password}"></p>
                    <button><a th:href="@{/profile/edit}">Edit Profile</a></button>
                </div>
            </div>
            <div th:each="review : ${userReviews}">
                <p>
                    <a th:href="@{'/edit/' + ${review.id}}" th:text="${review.description}"></a>
                    <!-- Add more details as needed -->
                </p>
            </div>
        </div>
        <button id="myBtn">Edit Post</button>
        <!-- The Modal -->
        <div id="myModal" class="modal">
            <!-- Modal content -->
            <div class="modal-content">
                <div th:each="review : ${userReviews}">
                    <p>
                        <a th:href="@{'#'}" data-toggle="modal" data-target="#editPostModal" th:attr="data-review-id=${review.id}, data-review-title=${review.description}, data-review-content=${review.rating}">
                            <span th:text="${review.description}"></span>
                        </a>
                    </p>
                </div>
            </div>

        </div>


<script src="/js/edit-modal.js"></script>

</body>
</html>