<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <nav th:insert="partials/nav-bar.html :: nav-bar"></nav>
    <div class="container">
        <div class="profileBox-container">
            <div class="pfp">Profile Picture</div>
                <div class="user=info">
                   <h1><span th:text="${user.username}"></span></h1>
                    <p th:text="${user.email}"></p>
                    <p th:text="${user.password}"></p>
                    <button><a th:href="@{/profile/edit}">Edit Profile</a></button>
                </div>
            </div>
        </div>
</body>
</html>