<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="">
<header th:replace="partials/head.html :: header"></header>
<nav th:insert="partials/nav-bar.html :: nav-bar3"></nav>
<body>
    <h1>Sign in to your Account!</h1>
    <div th:if="${param.error}">
        Invalid Username and Password.
    </div>
    <div th:if="${param.logout}">
        You have been logged out.
    </div>
    <p>New user? <a href="/sign-up">Sign up here!</a></p>

    <form th:action="@{/sign-in}" method="post">
        <label for="username">Username</label>
        <input id="username" name="username" type="text" />
        <label for="password">Password</label>
        <input id="password" name="password" type="password" />
        <input type="submit" value="Log In" />
    </form>
</body>
</html>
