<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="">
<head>
    <header th:replace="~{partials/head.html :: header}"></header>
    <link rel="stylesheet" href="/css/sign-up.css">
    <title>Sign Up</title>
</head>
<body>
<nav th:insert="~{partials/nav-bar.html :: nav-bar3}"></nav>
<div class="content-container">
    <h1>CREATE YOUR ACCOUNT NOW!</h1>
    <div class="card">
        <form th:action="@{/sign-up}" method="POST" th:object="${user}" onsubmit="validatePassword(event)">
        <div class="form-group">
            <label for="username">Username:</label>
            <input id="username" th:field="*{username}" required/>
        </div>
        <p th:if="${usernameError}" th:text="${usernameError}" class="error"></p>

        <div class="form-group">
            <label for="email">E-Mail:</label>
            <input id="email" th:field="*{email}" required/>
        </div>
        <p th:if="${emailError}" th:text="${emailError}" class="error"></p>

        <div class="form-group">
            <label for="password">Password:</label>
            <input id="password" type="password" th:field="*{password}" required/>
        </div>
        <p id="password-error" class="error"></p>

        <input value="Sign me up!" type="submit" />
    </form>
    <p>Already have an account? <a href="/sign-in">Sign in here!</a></p>
</div>
</div>

</body>
</html>