<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Brew-Hop</title>
</head>
<body>
    <div class="container">
        <div th:insert="partials/nav-bar.html :: nav-bar">
        </div>
        <!--upper box for hero-->
        <div class="hero-top">
            <div class="welcome-box">
                <h1>Welcome to <span>Brew-Hop</span>!</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Nisi porta lorem mollis aliquam ut porttitor leo. Leo vel fringilla est ullamcorper eget nulla facilisi etiam.</p>
            </div>
            <div class="hero-image">
                <img src="url">
            </div>
        </div>
        <div class="hero-bottom">
            <div class="posts-holder-hero">
                <h2>User posts</h2>
                <div class="posts-holder"></div>
            </div>
            <div class="breweries-holder-hero">
                <h2>Check out some Breweries!</h2>
                <div class ="random-brewery-holder"></div>
            </div>
        </div>
        <div class="footer">
            <p>Brew-Traveler™: Embark on a journey of flavor and discovery. Your passport to the world of craft brews and global adventures.</p>

            <h2>Meet the Team | About Brew-Hop | Terms of Service</h2>
        </div>
    </div>
</body>
</html>