<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="">
<header th:replace="~{partials/head.html :: header}"></header>
<body>
    <div class="container">
        <div th:unless="${#authorization.expression('isAuthenticated()')}">
            <nav th:insert="~{partials/nav-bar.html :: nav-bar}"></nav>
        </div>
        <div th:if="${#authorization.expression('isAuthenticated()')}">
            <nav th:insert="~{partials/nav-bar.html :: nav-bar2}"></nav>
        </div>

        <div class="hero-top">
            <div class="welcome-box">
                <h1>Welcome to <span class="hero-title">Brew-Hop!</span></h1>
                <p>We are passionate about connecting you to the best breweries around. Explore our easy-to-use search feature to discover your new favorite spot, and share your experiences by leaving reviews. Join our community of beer enthusiasts and let's celebrate the art of brewing together. Cheers to finding the perfect pint!</p>
                <form th:action="@{/view-breweries.html}" th:method="post">
                    <button>Check out Breweries</button>
                </form>
            </div>
            <div class="hero-image">
                <img src="/img/Untitled design.png" alt="Hero-Image">
            </div>
        </div>
        <div class="hero-bottom">
            <div class="breweries-holder-hero">
                <h2>Check out some Breweries!</h2>
                <div class ="random-brewery-holder"></div>
            </div>
        </div>
        <div class="footer">
            <p>Brew-Hop™: Embark on a journey of flavor and discovery. Your passport to the world of craft brews and global adventures.</p>

            <h2>Meet the Team | About Brew-Hop | Terms of Service</h2>
        </div>
    </div>
</body>
</html>