<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Sign in to your Account!</h1>
    <div class="login-box">
        <form method="POST" action="put ur url here">
            <label for="username">Username</label>
            <input id="username" name="username" type="text">
            <br>
            <label for="password">Password</label>
            <input id="password" name="password" type="password">
            <br>
            <input type="submit">
        </form>

    </div>
</body>
</html>