<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" >
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Brewery Page</title>

</head>
<body>
    <div id="breweryInfo"></div>

        <form id="brewIDGet" th:action="@{/create}" th:method="get">
            <input id="brewFormID" type="hidden">
            <button type="submit">Write A Review</button>
        </form>
<script src="/js/brewery_info.js"></script>

</body>
</html>